<mat-toolbar color="primary" class="scorecard-toolbar">
  <span class="scorecard-title">Farkle Scorecard</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openNewGameDialog()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="scorecard-container">
  @if (scoreCard$ | async; as scoreCard) {
    <mat-card class="scorecard">
      <mat-card-content>
        <mat-list>
          @for (score of scoreCard.turns; track score) {
            <mat-list-item>
              <span matListItemLine>{{ score }}</span>
            </mat-list-item>
          }
          <mat-divider></mat-divider>
          <mat-list-item class="total-score">
            <span matListItemTitle class="total-label">Total:
              &nbsp;
              <span class="total-value">{{ scoreCard.total }}</span>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  }
</div>
